#!/usr/bin/env xdg-open
[Desktop Entry]
Categories=Development;
Exec=/home/kcp/Application/Idea/idea-17.3/bin/idea.sh
Icon=/home/kcp/Application/Idea/idea-17.3/bin/idea.png
Name=IntelliJ IDEA 3
Terminal=false
Type=Application
X-Deepin-CreatedBy=com.deepin.dde.daemon.Launcher
X-Deepin-AppID=idea
 
